[user]
	email = mtdewulf@gmail.com
	name = Michael DeWulf
[push]
	default = simple
[color]
	diff = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[github]
	user = mtdewulf
[ghi]
	token = !security find-internet-password -a mtdewulf -s github.com -l 'ghi token' -w
